@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}


.blur-video {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }